{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="row">
            <div class="col-md-3">
                <div class="col-md-12" style="display: flex; flex-wrap: wrap;">
                    <div class="col-md-3">
                        <a href="{{url_for('showItems', category_id=category.id)}}"> {{category.name}} </a>
                    </div>
                    <div class="col-md-9" style="text-align: right;">
                        <a href="{{url_for('showCategories')}}"> All Categories </a>
                    </div>
                </div>
                <div class="col-md-12">
                    {% if categories !=[] %}
                        <div class="list-group">
                            {% for c in categories %}
                                <a href="{{url_for('showItems', category_id=c.id)}}" class=" list-group-item"> {{c.name}} </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="row text-center" style="display: flex;flex-wrap: wrap;">
                    <div class="col-md-6">
                        <a href="{{url_for('editCategory', category_id=category.id)}}" class="btn btn-primary">Edit This Category</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{url_for('deleteCategory', category_id=category.id)}}" class="btn btn-primary">Delete This Category</a>
                    </div>
                </div>

                <br>

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{url_for('static', filename='carousel1.png')}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{url_for('static', filename='carousel2.png')}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{url_for('static', filename='carousel3.jpg')}}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- /.row -->

                <div class = 'flash'>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li> <strong> {{ message }} </strong> </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="row">
                    {% for i in items %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{i.image}}", class="item-image", alt="">
                                <div class="caption">
                                    <h4><a href="{{url_for('showItem', category_id=category.id, item_id=i.id)}}">{{i.name}}</a></h4>
                                    <div class="price col-sm-12 col-lg-12 col-md-12">
                                        <h5>${{i.price}}</h5>
                                    </div>
                                    <p>{{i.description}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row text-center">
                        <p>
                            <a href="{{url_for('newItem', category_id=category.id)}}" class="btn btn-primary btn-unique">Add Item</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        {% include "footer.html" %}

    </div>

{% endblock %}















